.vscode/
__pycache__/

# catch all
X_*
*.slurm

# slurm outputs
slurm-*.out

# outputs from single and multirun
outputs/
multirun/
calculations/

# testing ground folder
X/

# Files to be defined
patches.pt
bin/figures/

# build files
build/
dist/
svae.egg-info/