.vscode/
__pycache__/
*/__pycache__/

# general
X_*.py
*.slurm

# slurm outputs
slurm-*.out

# outputs from single and multirun
outputs/
multirun/
calculations/

# testing ground folder
X/

# Files to be defined
patches.pt

# build files
build/
svae.egg-info/