.vscode/

# Ignore slurm outputs
slurm-*.out

# Ignore outputs from single and multirun
outputs/
multirun/
calculations/

# Ignore testing ground folder
X/

# Files to be defined
patches.pt

# Ignore build files
build/
svae.egg-info/